/*
Sintaxis
*/
/*
REGLA CSS
selector{
    propiedad1: valor;
    propiedad2: valor;
    propiedad3: valor;
}
    */


 
*{  /*Selector UNIVERSAL. Ataca todas los elementos y aplica su regla. El outliner muestra su hitbox*/
   /* outline: 1px red solid; */
   box-sizing: border-box; /*Con esto fuerza a que el box tenga las dimensiones que yo le habia marcado "300x200"*/
}

html, body, h1, h2, h3, p { /*Va con coma porque estan anidados*/
    margin: 0;
    padding: 0;
}

/* Selectores de TIPO --- Van primero*/  
/*Peso = 001*/
body{
    background-color: #ffffff;
}
header{
    background-color: #ffffff;
}
a{
    text-decoration: none;
    color: aliceblue;
}

/* selectors de CLASE --- Van debajo de los de CLASE*/
/*Peso = 010*/
.vinculo-pie{
    color: #999999;
}

/* Cabecera */
.cabecera-principal{
    background-color: #999999;
}
.cabecera-principal nav a{  /*Estp es un selector combinado*/
    color: #999999;
}

.cabecera-principal a img { /*Selector combinado. Solamente se aplica (en este caso) a la imagen, porque es el ultimo de la combinacion*/
    width: 50px;
}

/* contenido principal */
.contenido-principal{
    background-color: #5f5f5f;
}

.contenido-principal .contenedor{
    width: 300px;
    height: 200px;
    padding: 10px; /*Relleno. Si pongo un solo valor afecta a los 4 bordes. Si quiero que afecte a cada borde individualmente 
                    puedo colocar los 4 bordes "10px (arriba) 11px(derecha) 12px(abajo) 13px(izquierda)
                    Tambien puede hacerse -left -right -top*/
    background-color: #ccc;
    border: 2px solid black;
}

/* pie principal */
.pie-principal{
    background-color: #999999;
}

/* selectores de ID -- NO USAR. EL PROFE LOS ODIA igual que el !important */
/*Peso = 100*/
#navegacion-principal {
    background-color: rgb(230, 230, 230);
}